<!DOCTYPE html>
<html>
<head>
  <title>Lord Of War</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Lord of War</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">High Scores</a></li>
          <li><a href="#">How to Play</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#">Login / SignUp</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </div>
  <!-- <footer>Created by: Samir</footer> -->
</body>
</html>
